 <div class="post">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="post-title">
        <% if params[:action] == 'show' %>
          <%= post.title %>
        <% else %>
          <%= link_to post.title, post_path(post) %>
        <% end %>
      </h1>
      <div class="meta-data">
        <p><%= formatted_date(post) %></p>
        <%= link_to 'delete', destroy_post_path(post), method: :delete %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        <%= post.body %>
      </p>
      <%= image_tag post.image.url(:medium) %>
    </div>
  </div>
</div>
